@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes loader {
  70% {
    opacity: 1;
  }
  99.99% {
    z-index: 9999;
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}

@keyframes loader-spinner {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  80% {
    transform: rotate(720deg) skewX(0deg);
  }
  100% {
    transform: translateX(140vh) rotate(720deg) skewX(50deg);
  }
}

@keyframes loader__main-circle-reverse {
  0% {
    transform: scale(0) rotate(0deg);
  }
  10% {
    transform: scale(1) rotate(72deg);
  }
  70% {
    transform: scale(1) rotate(504deg);
  }
  85% {
    transform: scale(0) rotate(720deg);
  }
  100% {
    transform: scale(0) rotate(720deg);
  }
}

@keyframes loader__main-circle {
  0% {
    transform: scale(0) rotate(720deg);
  }
  10% {
    transform: scale(1) rotate(504deg);
  }
  70% {
    transform: scale(1) rotate(72deg);
  }
  85% {
    transform: scale(0) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(0deg);
  }
}

@keyframes loader__circles-color {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
}

.loader {
  opacity: 1;
  position: fixed;
  animation: loader 4s linear forwards;
  inset: 0px;
  background-color: white;
  display: grid;
  place-items: center;
  z-index: 9999;
}

.loader::before {
  animation: loader-spinner 3s cubic-bezier(0.76, 0.19, 0.43, 1.09) forwards;
  content: "";
  position: absolute;
  width: 10%;
  aspect-ratio: 1;
  background: linear-gradient(#FF79DA, #9356DC);
}

.loader .circles {
  display: flex;
  flex-flow: nowrap row;
  justify-content: stretch;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  aspect-ratio: 1;
  z-index: -1;
}

.loader .loader__circle-1::before,
.loader .loader__circle-1::after,
.loader .loader__circle-2::before,
.loader .loader__circle-2::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1;
}

.loader__circle-1 {
  width: 30%;
  animation: loader__main-circle 3s cubic-bezier(0.86, 0.12, 0.2, 0.74) both;
}

.loader__circle-1::before {
  left: 0px;
  width: 3vw;
  background-color: #99E2D0;
}

.loader__circle-1::after {
  animation: loader__circles-color 3s linear both;
  left: 0px;
  width: 3vw;
  background: linear-gradient(#FF79DA, #9356DC);
}

.loader__circle-2 {
  width: 40%;
  background-color: blue;
  animation: loader__main-circle-reverse 3s cubic-bezier(0.86, 0.12, 0.2, 0.74) both;
}

.loader__circle-2::before {
  background-color: #00ff37;
  right: 0px;
  width: 4vw;
  background-color: #99E2D0;
}

.loader__circle-2::after {
  animation: loader__circles-color 3s linear both reverse;
  right: 0px;
  width: 4vw;
  background: linear-gradient(#FF79DA, #9356DC);
}

body, html {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0px auto;
  position: relative;
  background-color: white;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, footer h3 {
  font-family: 'Shrikhand', cursive;
}

h3 {
  font-size: 1rem;
}

span, strong {
  display: inline-block;
}

img {
  display: block;
}

.heart-icons__container {
  position: absolute;
  top: 50%;
  height: 24px;
  width: 30px;
  transform: translateY(-50%);
}

.heart-icons__container:hover .icon-full {
  transform: scale(1);
}

.heart-icons__container:hover .icon-empty {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-icons__container .heart-icon {
  color: transparent;
  position: absolute;
  inset: 0px;
  font-size: 1.5rem;
  text-align: center;
}

.heart-icons__container .heart-icon:hover {
  cursor: pointer;
}

.heart-icons__container .icon-empty {
  transition: all 200ms linear;
  z-index: 10;
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-icons__container .icon-full {
  transition: 300ms ease-in-out;
  font-size: 1.5rem;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: bottom;
  transform: scale(0);
  z-index: 1;
}

header .header__logo {
  padding-block: 50px;
}

@media screen and (max-width: 650px) {
  header .header__logo {
    padding-block: 20px;
  }
}

header img {
  height: 50px;
  margin: auto;
}

@media screen and (max-width: 650px) {
  header img {
    height: 30px;
  }
}

.full-container {
  max-width: 1400px;
  min-width: 315px;
  padding: 0px 20px;
  margin: 0px auto;
}

@media screen and (max-width: 1024px) {
  .full-container {
    padding: 0px;
  }
}

.main_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: flex-end;
}

.explore {
  text-align: center;
  background: #F6F6F6;
  padding: 0px 20px 50px 20px;
  flex: 1 1 400px;
}

.explore .location {
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  padding: 5px 0px;
  margin: 0px -20px;
}

.explore .location__icon {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.explore .location form {
  position: relative;
}

.explore .location input {
  text-align: center;
  width: 140px;
  line-height: 30px;
  font-size: 1rem;
  border: 0px;
  border-radius: 5px;
  background-color: #EAEAEA;
}

.explore .location input:focus {
  border: solid 2px #b7b7b7;
  outline: none;
}

.explore .location ::placeholder {
  font-weight: 600;
  color: black;
  font-size: 1rem;
  opacity: 1;
}

.explore .explore__title {
  font-weight: 800;
  margin-top: 40px;
}

.explore .explore__button {
  font-weight: 400;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  line-height: 49px;
  width: 210px;
  height: 49px;
  border-radius: 30px;
  margin: 30px auto 0px auto;
  box-shadow: 0px 0px 5px #a5a5a5;
  transition: all 300ms ease-out;
  position: relative;
  z-index: 1;
}

.explore .explore__button:hover {
  box-shadow: 0px 0px 10px #727272;
}

.explore .explore__button:hover::before {
  opacity: 1;
}

.explore .explore__button::before {
  position: absolute;
  content: "";
  border-radius: 30px;
  inset: 0px;
  background: linear-gradient(90deg, #b579ff, #FF79DA);
  z-index: -1;
  opacity: 0;
  transition: all 300ms ease-out;
  z-index: -1;
}

.explore .explore__button--link {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.functioning {
  flex: 1 1 400px;
  margin: 0px 0px 0px 40px;
}

@media screen and (max-width: 1024px) {
  .functioning {
    margin: 0px 20px 0px calc(20px + 12.25px);
  }
}

.functioning__title {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}

@media screen and (max-width: 650px) {
  .functioning__title {
    text-align: left;
    font-size: 1.5rem;
  }
}

.functioning__element {
  position: relative;
  background: #F6F6F6;
  padding: 25px 30px;
  border-radius: 20px;
  box-shadow: 0px 3px 6px #a5a5a5;
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-out;
}

.functioning__element.eat {
  background: #f5eefe;
}

.functioning__element:hover {
  cursor: pointer;
  box-shadow: 0px 3px 10px #a5a5a5;
  background-color: white;
}

.functioning__element--number {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(0px - 12.5px);
}

.functioning__element--icon {
  position: absolute;
  margin-right: 20px;
  color: #7e7e7e;
  left: 15%;
  font-size: 1.3rem;
  width: 50px;
  text-align: center;
}

.functioning__element--icon.eat {
  color: #9356DC;
}

@media screen and (max-width: 650px) {
  .functioning__element--icon {
    font-size: 1rem;
    left: 3%;
  }
}

.restroom__container {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  background: #F6F6F6;
  gap: 50px;
  padding: 50px;
  margin: calc(50px - 16px) -20px 0px -20px;
}

@media screen and (max-width: 1024px) {
  .restroom__container {
    gap: 20px;
    padding: 20px;
    margin: calc(50px - 16px) 0px 0px 0px;
  }
}

@media screen and (max-width: 650px) {
  .restroom__container {
    padding: 20px;
  }
}

.restroom__container .restroom__title {
  flex: 1 1 100%;
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 650px) {
  .restroom__container .restroom__title {
    text-align: left;
    font-size: 1.5rem;
  }
}

.restroom__container .restroom__item {
  min-width: 40%;
  flex: 1 1 410px;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 0px 8px #a5a5a5;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms ease-out;
}

.restroom__container .restroom__item:hover {
  box-shadow: 0px 0px 20px #a5a5a5;
}

.restroom__container .restroom__item:hover .item__picture {
  filter: brightness(1.1);
}

.restroom__container .item__link {
  color: black;
  border-radius: 20px;
}

.restroom__container .item__new-advert {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  padding: 8px;
  border-radius: 3px;
  color: #009f88;
}

.restroom__container .item__picture {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  transition: filter 200ms linear;
}

.restroom__container .item__info-container {
  padding: 15px;
  position: relative;
}

.restroom__container .item__info-container .heart-icons__container {
  right: 20px;
}

.restroom__container .item__info-container--title {
  margin: 0px 0px 6px 0px;
  font-weight: 900;
  font-size: 1.1rem;
}

footer {
  color: white;
  background-color: #353535;
  padding: 20px;
  margin: 0px -20px;
}

@media screen and (max-width: 1024px) {
  footer {
    margin: 0px;
  }
}

footer .footer__title {
  font-weight: 500;
  margin-top: 0px;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 650px) {
  footer .footer__title {
    text-align: left;
    font-size: 1.2rem;
  }
}

footer ul {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  align-items: stretch;
}

@media screen and (max-width: 650px) {
  footer ul {
    flex-direction: column;
  }
}

footer li {
  margin-bottom: 10px;
}

footer li .icon {
  width: 15px;
  margin-right: 8px;
  font-size: 12px;
}

footer li a {
  color: white;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  99.9% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}

@keyframes up-opacity {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container-anim::before {
  animation: opacity 1.6s linear forwards;
}

.menu__footer-anim {
  animation: opacity 1.6s linear forwards reverse;
}

.menu-anim, .menu__order-button {
  animation: up-opacity 400ms ease-in-out backwards;
}

.menu-anim__anim-1 {
  animation-delay: 200ms;
}

.menu-anim__anim-2 {
  animation-delay: 300ms;
}

.menu-anim__anim-3 {
  animation-delay: 400ms;
}

.menu-anim__anim-4 {
  animation-delay: 500ms;
}

.menu-anim__anim-5 {
  animation-delay: 600ms;
}

.menu-anim__anim-6 {
  animation-delay: 700ms;
}

.menu-anim__anim-7 {
  animation-delay: 800ms;
}

.menu-anim__anim-8 {
  animation-delay: 900ms;
}

.menu-anim__anim-9 {
  animation-delay: 1000ms;
}

.menu-anim__anim-10 {
  animation-delay: 1100ms;
}

.menu-anim__anim-11 {
  animation-delay: 1200ms;
}

.menu-anim__anim-12 {
  animation-delay: 1300ms;
}

.menu-anim__anim-13 {
  animation-delay: 1400ms;
}

.menu-anim__anim-14 {
  animation-delay: 1500ms;
}

.menu-anim__anim-15 {
  animation-delay: 1600ms;
}

.menu__body {
  max-width: 1000px;
}

.header-menu {
  position: relative;
}

.header-menu__icon--link {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header-menu__icon {
  font-size: 2rem;
  color: black;
}

@media screen and (max-width: 650px) {
  .header-menu__icon {
    font-size: 1.3rem;
  }
}

.restaurant__picture--container {
  margin: auto;
}

.restaurant__picture--container img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.menu {
  margin: 0px auto -50px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: stretch;
  background: #F6F6F6;
  position: relative;
  border-radius: 50px 50px 0px 0px;
  top: -50px;
}

.menu::before {
  content: "";
  position: absolute;
  inset: 0px;
  border-radius: 50px 50px 0px 0px;
  background-color: white;
  opacity: 0;
  z-index: 10;
}

.menu__title {
  font-family: 'Shrikhand', cursive;
  font-size: 2rem;
  margin-left: 10px;
  position: relative;
  text-align: center;
}

.menu__title .heart-icons__container {
  right: 10px;
}

@media screen and (max-width: 650px) {
  .menu__title {
    font-size: 1.7rem;
    text-align: left;
  }
}

.menu__order--title {
  font-weight: 500;
  color: #7e7e7e;
  position: relative;
  padding-bottom: 6px;
}

.menu__order--title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 4px;
  width: 40px;
  background-color: #99E2D0;
}

.menu__item {
  color: black;
  overflow: hidden;
  max-height: 73px;
  background-color: white;
  padding: 15px 0px 15px 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px #cbcbcb;
  display: grid;
  align-items: flex-end;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: " name name icon" " desc price icon";
}

.menu__item:hover .menu__item--icon-container {
  width: 73px;
}

.menu__item:hover .menu__item--icon {
  transition: all 400ms ease-in-out;
  transform: rotate(360deg);
}

.menu__item--name {
  grid-area: name;
  font-weight: 800;
  margin: 0px 0px 5px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__item--description {
  grid-area: desc;
  max-height: 19px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__item--price {
  grid-area: price;
  padding-inline: 15px;
  justify-self: flex-end;
}

.menu__item--icon-container {
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
  grid-area: icon;
  box-sizing: border-box;
  transition: all 400ms ease-in-out;
  margin-block: -15px;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  justify-self: flex-end;
  align-self: stretch;
  width: 0px;
}

.menu__item--icon {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  overflow: hidden;
}

.menu__order-button {
  text-align: center;
  line-height: 49px;
  font-weight: 400;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 190px;
  height: 49px;
  border-radius: 30px;
  margin: 30px auto 40px auto;
  position: relative;
  transition: all 300ms ease-out;
  z-index: 1;
}

.menu__order-button:hover {
  box-shadow: 0px 0px 10px #727272;
}

.menu__order-button:hover::before {
  opacity: 1;
}

.menu__order-button::before {
  position: absolute;
  content: "";
  border-radius: 30px;
  inset: 0px;
  background: linear-gradient(90deg, #b579ff, #FF79DA);
  opacity: 0;
  transition: all 300ms ease-out;
  z-index: -1;
}

.menu__order-button--link {
  display: block;
  color: white;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.menu__footer {
  box-sizing: border-box;
  margin: 0px auto;
}
/*# sourceMappingURL=style.css.map */