.menu__body{
    max-width: 1000px;
}

.header-menu{
    
    position: relative;
  
    &__icon--link{
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__icon{
        font-size: 2rem;
        color: black;
        @media screen and (max-width: $mobile){
            font-size: 1.3rem;
        }
    }
}

.restaurant__picture--container{
    margin: auto;
    img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
    }
}

// ANIMATIONS OUVERTURE PAGE

@keyframes opacity {
    0% { 
        opacity: 1; 
     }

    99.9% { z-index: 10; }
    100% {
        opacity: 0;
        z-index: -9999;
    } 
}

@keyframes up-opacity {
    from { 
        opacity: 0; 
        transform: translateY(10px);
     }

    to {
        opacity: 1;
        transform: translateY(0px);
    } 
}



.container-anim::before{ animation: opacity 1.6s linear forwards}
.menu__footer-anim { animation: opacity 1.6s linear forwards reverse }
.menu-anim, .menu__order-button{
    animation: up-opacity 400ms ease-in-out backwards; 

}

// FAIT APPARAITRE LES ITEMS AVEC UN DELAI

@for $i from 1 through 15 {
    .menu-anim__anim-#{$i} {
        animation-delay:  (($i * 100ms)+100ms);
    }
}

/////////////////////

.menu{
    margin: 0px auto -50px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: $clr-cards-bg;
    position: relative;
    border-radius: 50px 50px 0px 0px;
    top: -50px;

    &::before{
        content: "";
        position: absolute;
        inset: 0px;
        border-radius: 50px 50px 0px 0px;
        background-color: white;
        opacity: 0;
        z-index: 10;
    }

    &__title{
        font-family: 'Shrikhand', cursive;
        font-size: 2rem;
        margin-left: 10px;
        position: relative;
        text-align: center;

        .heart-icons__container {
            right: 10px;
        }
        @media screen and(max-width: $mobile){
            font-size: 1.7rem;
            text-align: left;
        }

    }
   
}   

.menu__order{

    &--title{
        font-weight: 500;
        color: $clr-grey-icon;
        position: relative;
        padding-bottom: 6px;
        &::before{
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 4px;
            width: 40px;
            background-color: $clr-tertiary;
        }
    }
}


.menu__item{
    
    color: black;
    overflow: hidden;
    max-height: 73px;
    background-color: white;
    padding: 15px 0px 15px 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px lighten($clr-box-shadow, 15%);
    display: grid;
    align-items: flex-end;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr auto auto;
    grid-template-areas: 
    " name name icon"
    " desc price icon";

    &:hover .menu__item--icon-container{
        
        width: 73px;
    }

    &:hover .menu__item--icon{
        transition: all 400ms ease-in-out;
        transform: rotate(360deg);
        
    }

    &--name{
        grid-area: name;
        font-weight: 800;
        margin: 0px 0px 5px 0px;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

    &--description{
        grid-area: desc;
        max-height: 19px;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

    &--price{
        grid-area: price;
        padding-inline: 15px;
        justify-self: flex-end;
    }
    
    &--icon-container{
        @include flex-2axis-center;
        grid-area: icon;
        box-sizing: border-box;
        transition: all 400ms ease-in-out;
        margin-block: -15px;
        border-radius: 0px 20px 20px 0px;
        background-color: $clr-tertiary;
        justify-self: flex-end;
        align-self: stretch;
        width: 0px;
        
        
    }

    

    &--icon{
        text-align: center;
        font-size: 1.5rem;
        color: white;
        overflow: hidden;
    }
}

.menu__order-button{
    text-align: center;
    line-height: 49px;
    font-weight: 400;
    color: white;
    background: linear-gradient($clr-secondary, $clr-primary);
    width: 190px;
    height: 49px;
    border-radius: 30px;
    margin: 30px auto 40px auto;
    position: relative;
    transition: all 300ms ease-out;
    z-index: 1;

    &:hover{
        box-shadow: 0px 0px 10px darken($clr-box-shadow, 20%);
        &::before{
            opacity: 1;
        }
    }

    &::before{
        position: absolute;
        content: "";
        border-radius: 30px;
        inset: 0px;
        background: linear-gradient(90deg, #b579ff, #FF79DA);
        z-index: -1;
        opacity: 0;
        transition: all 300ms ease-out;
        z-index: -1;
    }

    &--link{
    display: block;
    color: white;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    }
}

.menu__footer{
    box-sizing: border-box;
    margin: 0px auto;
}
