@mixin flex-2axis-center{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-2axis-center__column{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin clr-gradient-prim-second{
    background: linear-gradient($clr-secondary, $clr-primary);
}