@mixin display-flex ($flow: nowrap row, $justify: stretch, $align: stretch) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

@mixin clr-gradient-second-prim{
    background: linear-gradient($clr-secondary, $clr-primary);
}

@mixin clr-gradient-second-prim-hover{
    background: linear-gradient(90deg, #b579ff, #FF79DA);
}