// COLORS 

$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-footer-bg: #353535;
$clr-location: #EAEAEA;
$clr-cards-bg: #F6F6F6;
$clr-grey-icon: #7e7e7e;


// MEDIA QUERIES

$mobile: 650px;
$wrap: 919px;