
header{
    
  .header__logo{
    margin-block: 50px;
    @media screen and (max-width: $mobile){
        margin-block: 20px;
    }
  }
  img{
      height: fit-content;
      margin: auto;
  }
}

.main_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.explore{
    text-align: center;
    background: ($clr-cards-bg);
    padding: 0px 20px 50px 20px;
    flex: 1 1 400px;


    .location{
        background-color: $clr-location;
        padding: 10px 0px;
        margin: 0px -20px;

        .location__icon{
            margin-right: 10px;
        }

        .location__text{
            font-weight: 500;
        }
    }
    
    .explore__title{
        font-weight: 800;
        margin-top: 40px;
    }

    .explore__button{
        font-weight: 400;
        color: white;
        background: linear-gradient($clr-secondary, $clr-primary);
        width: fit-content;
        padding: 15px 20px;
        border-radius: 30px;
        margin: 30px auto 0px auto;

        a{
            color: white;
        }
    }
}  

.functioning{
    flex: 1 1 400px;  
    margin: 0px 0px 0px 40px;
    position: relative;
    @media screen and (max-width: $wrap){
        // Pour centrer la vignette en tenant compte du décalage avec le chiffre
        margin: 0px 20px 0px calc(20px + 12.25px); 
        
    }

    &__title{
        text-align: center;
        @media screen and (max-width: $mobile){
            text-align: left;
        }
    }

    &__element{
        background: $clr-cards-bg;
        padding: 25px 30px;
        border-radius: 20px;
        box-shadow: 0px 3px 6px  #818181b2;
        @include flex-2axis-center;
        &.eat{
            background: #f5edff;
        }

        &--number{
            background-color: $clr-primary;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            @include flex-2axis-center;
            position: absolute;
            left: calc(0px - 12.5px);
        }

        &--icon{
           margin-right: 20px;
           color: $clr-grey-icon;
           @media screen and (max-width: $mobile){
                position: absolute;
                left: 8%;
           }
        }
    }
}

.restroom__container{
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: $clr-cards-bg;
    padding: 20px; 
    margin-inline: -20px;
    @media screen and (max-width: $mobile){
        margin-inline: 0px;
    }

    .restroom__title {
        flex: 1 1 100%;
    }

    .restroom__item{
        min-width: 40%;
        flex: 1 1 430px;
        border-radius: 20px;
        overflow: hidden;
        background: white;
        box-shadow: 0px 0px 8px gray;
        position: relative;
        z-index: 1;
    }

    .item__link
    {
        color: black;
        border-radius: 20px;
       
    }

    .item__picture{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }

    .item__info-container{
        
        padding: 15px;
        position: relative;
    

        &--title {
            margin: 0px 0px 6px 0px;
            font-weight: 900;
            font-size: 1.1rem;
        }

        &--icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            font-size: 1.5rem;
            color: white;
            -webkit-text-stroke:2px black;
            z-index: 10;
            &:hover {
                transition: all 200ms linear;
                color: $clr-primary;
            }
        }
    }
}


footer{
    color: white;
    background-color: $clr-footer-bg;
    padding: 20px;
    margin: 0px -20px;
    @media screen and (max-width: $mobile){
        margin: 0px;
    }

    .footer__title{
        font-weight: 500;
        margin-top: 0px;
        text-align: center;
        font-size: 1.5rem;
        @media screen and (max-width: $mobile){
         text-align: left; 
         font-size: 1.2rem;  
        }
    }

    ul{
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: $mobile){
        flex-direction: column;
        }
    }
    
    li{
        margin-bottom: 10px;
        .icon{
            width: 15px;
            margin-right: 8px;
            font-size: 12px;
        }
        a {
            color: white;
        }
    }
}
