

// .loader{
//     position: absolute;
//     inset: 0px;
//     background-color: white;
//     z-index: 99;
//     display: grid;
//     place-items: center;
//     position: fixed;

//     &__item{
//         width: 10%;
//         aspect-ratio: 1;
//         background: linear-gradient($clr-secondary, $clr-primary);
//     }
// }

header{
    
  .header__logo{
    padding-block: 50px;
    @media screen and (max-width: $mobile){
        padding-block: 20px;
    }
  }
  img{
      height: 50px;
      margin: auto;
      @media screen and (max-width: $mobile){
          height: 30px;
      }
  }
}

.main_container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.explore{
    text-align: center;
    background: $clr-cards-bg;
    padding: 0px 20px 50px 20px;
    flex: 1 1 400px;


    .location{
        background-color: $clr-location;
        padding: 10px 0px;
        margin: 0px -20px;

        .location__icon{
            margin-right: 10px;
        }

        .location__text{
            font-weight: 500;
        }
    }
    
    .explore__title{
        font-weight: 800;
        margin-top: 40px;
    }

    .explore__button{
        font-weight: 400;
        color: white;
        background: linear-gradient($clr-secondary, $clr-primary);
        line-height: 49px;
        width: 210px;
        height: 49px;
        border-radius: 30px;
        margin: 30px auto 0px auto;
        box-shadow: 0px 0px 5px $clr-box-shadow;
        transition: all 300ms ease-out;
        position: relative;
        z-index: 1;
        

        &:hover{
            box-shadow: 0px 0px 10px $clr-box-shadow-darker;
            &::before{
                opacity: 1;
            }
        }

        &::before{
            position: absolute;
            content: "";
            border-radius: 30px;
            inset: 0px;
            background: linear-gradient(90deg, #b579ff, #FF79DA);
            z-index: -1;
            opacity: 0;
            transition: all 300ms ease-out;
            z-index: -1;
        }


        &--link{
            display: block;
            color: white;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            
        }
    }
}  

.functioning{
    flex: 1 1 400px; 
    margin: 0px 0px 0px 40px;
    @media screen and (max-width: $mobile){
        // Pour centrer la vignette en tenant compte du décalage avec le chiffre
        margin: 0px 20px 0px calc(20px + 12.25px); 
        
    }

    &__title{
        text-align: center;
        margin-top: 50px;
        font-size: 2rem;
        @media screen and (max-width: $mobile){
            text-align: left;
            font-size: 1.5rem;
        }
    }

    &__element{
        position: relative;
        background: $clr-cards-bg;
        padding: 25px 30px;
        border-radius: 20px;
        box-shadow: 0px 3px 6px  $clr-box-shadow;
        @include flex-2axis-center;
        transition: all 300ms ease-out;
        &.eat{
            background: $clr-functioning__element-eat;
        }
        &:hover{
            
            box-shadow: 0px 3px 10px $clr-box-shadow;
            background-color: #ffffff;
        }

        &--number{
            background-color: $clr-primary;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            @include flex-2axis-center;
            position: absolute;
            left: calc(0px - 12.5px);
        }

        &--icon{
           position: absolute;
           margin-right: 20px;
           color: $clr-grey-icon;
           left: 15%;
           font-size: 1.3rem;
           width: 50px;
           text-align: center;

           &.eat{
               color: $clr-primary;
           }

           @media screen and (max-width: $mobile){
                font-size: 1rem;
                left: 3%;
           }
        }
    }
}

.restroom__container{
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    background: $clr-cards-bg;
    gap: 50px;
    padding: 50px; 
    margin: calc(50px - 16px) -20px 0px -20px;
    @media screen and (max-width: $tablet){
        gap: 20px;
        padding: 20px;
        margin: calc(50px - 16px) 0px 0px 0px;
    }
    @media screen and (max-width: $mobile){
        
        padding: 20px;
    }

    .restroom__title {
        flex: 1 1 100%;
        text-align: center;
        font-size: 2rem;
        @media screen and (max-width: $mobile){
            text-align: left;
            font-size: 1.5rem;

        }

    }

    .restroom__item{
        min-width: 40%;
        flex: 1 1 410px;
        border-radius: 20px;
        overflow: hidden;
        background: white;
        box-shadow: 0px 0px 8px $clr-box-shadow;
        position: relative;
        z-index: 1;
        transition: box-shadow 200ms ease-out;
        
        &:hover{
            
            box-shadow: 0px 0px 20px $clr-box-shadow;
        }

        &:hover .item__picture{
            filter: brightness(1.1);
        }
    }

    .item__link
    {
        color: black;
        border-radius: 20px;
       
    }

    .item__new-advert{
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $clr-tertiary;
        padding: 8px;
        border-radius: 3px;
        color: #009f88;

    }

    .item__picture{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        transition: filter 200ms linear;

        
    }

    .item__info-container{
        
        padding: 15px;
        position: relative;
    

        &--title {
            margin: 0px 0px 6px 0px;
            font-weight: 900;
            font-size: 1.1rem;
        }

        &--icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            font-size: 1.5rem;
            color: white;
            -webkit-text-stroke:2px black;
            z-index: 10;
            &:hover {
                transition: all 200ms linear;
                color: $clr-primary;
            }
        }
    }
}


footer{
    color: white;
    background-color: $clr-footer-bg;
    padding: 20px;
    margin: 0px -20px;
    @media screen and (max-width: $tablet){
        margin: 0px;
    }

    .footer__title{
        font-weight: 500;
        margin-top: 0px;
        text-align: center;
        font-size: 1.5rem;
        @media screen and (max-width: $mobile){
         text-align: left; 
         font-size: 1.2rem;  
        }
    }

    ul{
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: $mobile){
        flex-direction: column;
        }
    }
    
    li{
        margin-bottom: 10px;
        .icon{
            width: 15px;
            margin-right: 8px;
            font-size: 12px;
        }
        a {
            color: white;
        }
    }
}
